*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, #011126,#052A59,#012340);
    display: flex;
    flex-direction: column;
    color: white;

}

header, main,footer, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer{
    width: 100%;
    height: 80px;
}

header{
    justify-content: space-around;
    background-color: #012340;
    height: 50px;
}

.nave-1{
    width: 250px;
    height: 100%;
}

.nav-2{
    display: flex;
    width: 200px;
}

.ul-1, .ul-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-2{
    font-size: 30px;
}

.botao-1, .botao-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 10px;
    background-color: #bd01ce;
}

.botao-1{
    width: 55px;
}

.botao-2{
    width: 130px;
}

.botao-3{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #bd01ce;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: white;
}

main{
    background: url(./imagens/nasa-Q1p7bh3SHj8-unsplash.jpg) no-repeat center center;
    background-size: cover;
    flex: 1;
    justify-content: space-around;
}

main h2{
    width: 300px;
    padding: 30px;
    text-align: left;
    font-size: 35px;
}


section{
    
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 10px 50px;
    text-align: left;
}

.area-texto{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.roxo{
    margin: 10px 0 5px 0; /*cima, direita, baixo, esquerda*/
    margin-top: 20px;
    font-size: 30px;
}


article{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dfe1e4;
    text-align: center;
    background: rgba(2, 10, 15, 0.329);
    border: 1px solid rgb(255, 255, 255, 0.16);
    backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border-radius: 24px;
    margin: 10px;
    padding: 20px;
}

article p{
    font-size: larger;
    margin: 10px;
    letter-spacing: 1px;
}

.cor-diferente,.roxo{
    color: #bd01ce;
}

.imagem{
    background: url(./imagens/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

footer{
    background-color: #010b1a;
    flex-direction: column;
    justify-content: space-evenly;
}














